<div
  class="p-3 border-bottom d-flex justify-content-between align-items-center bg-segunda text-light"
>
  <div class="d-flex align-items-center">
    <div class="position-relative">
      <div
        class="rounded-circle d-flex align-items-center justify-content-center"
        style="width: 40px; height: 40px; background-color: var(--terceira)"
      >
        <i
          class="bi bi-people"
          style="font-size: 1.2rem; color: var(--light)"
        ></i>
      </div>
      <div
        class="position-absolute bottom-0 end-0 translate-middle p-1 border border-dark rounded-circle bg-success"
      ></div>
    </div>
    <div class="ms-2">
      <h6 class="mb-0">{{ chatRecipient }}</h6>
      <small class="text-muted">Online</small>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <button class="btn btn-hover text-light btn-sm me-2">
      <i class="bi bi-telephone"></i>
    </button>
    <button class="btn btn-hover text-light btn-sm me-2">
      <i class="bi bi-camera-video"></i>
    </button>
    <button class="btn btn-hover text-light btn-sm me-2">
      <i class="bi bi-search"></i>
    </button>
    <button class="btn btn-hover text-light btn-sm">
      <i class="bi bi-three-dots-vertical"></i>
    </button>
  </div>
</div>
